extends _Template.pug
block pageContent
    div(class='section-content flex-sbs')

        //- Left-Hand
        div(class='flex-sbs-section')
            p(class='text-header') Appetizers
            div(class='menu-item')
                p Onion Rings 
                p $8
            div(class='menu-item')
                p Jalapeño Poppers
                p $8
            div(class='menu-item')
                p Chips & Salsa
                p $5
            div(class='menu-item')
                p Chips & Guacamole
                p $10
            div(class='menu-item')
                p Carne Asada Fries
                p $15
            div(class='menu-item')
                p Nachos: Chicken or Beef
                p $15
            div(class='menu-item')
                p Wings & Fries
                p $18
            div(class='menu-item')
                p Garlic Fries
                p $8
            div(class='menu-item')
                p Quesadilla (Cheese)
                p $8
            div(class='menu-item')
                p Chilli Fries
                p $8

            p(class='text-header') Salads & Sandwiches
                div(class='menu-item')
                    p House Salad
                    p $12
                p(class='menu-hint') Mixed Greens, Parmesan, Tomatoes and Balsamic
                div(class='menu-item')
                    p Caesar Sald
                    p $12
                p(class='menu-hint') Romaine, Parmesan and Caesar
                div(class='menu-item')
                    p Garrett Burger
                    p $15
                p(class='menu-hint') Bacon, Cheese, Lettuce, Tomato, Onion, and Pickles
                div(class='menu-item')
                    p BBQ Chicken Sandwich
                    p $15
                p(class='menu-hint') Bacon, Cheese, Lettuce, Tomato, Mayonaise 
                div(class='menu-item')
                    p BBQ Pulled Pork Sandwich
                    p $15
                p(class='menu-hint') With Coleslaw
                div(class='menu-item')
                    p Hot Dog Miller's
                    p $8
                div(class='menu-item')
                    p Hot Dog Lousiana Hot Link
                    p $8

            p(class='text-header') Main Course
                div(class='menu-item')
                    p Chicken Alredo
                    p $18
                p(class='menu-hint') Fettucini, Parmesan and Alfredo Sauce
                div(class='menu-item')
                    p Pasta Bolognese
                    p $18
                p(class='menu-hint') Spaghetti, Parmesan and Meat Sauce
                div(class='menu-item')
                    p Fish Tacos
                    p $15
                p(class='menu-hint') Coleslaw, Pico de Gallo, Chipotle Aioli

        //- Right-Hand
        div(class='flex-sbs-section')
            p(class='text-header') Happy Hours (3-6PM)
            div(class='menu-item')
                p Pint Beer
                p $6
            div(class='menu-item')
                p Red Wine
                p $8
            div(class='menu-item')
                p Margarita
                p $8
            div(class='menu-item')
                p Sangria
                p $8

            p(class='text-header') Taco Tuesday (Special)
                div(class='menu-item')
                    p Tacos (x3)
                    p $15
                p(class='text-hint') Choose between Beef, Chicken, or al Pastor Pork

            p(class='text-header') Weekend (Special)
                div(class='menu-item')
                    p BBQ Ribs
                    p $15
                div(class='menu-item')
                    p Tri-tip Steak
                    p $15
                p(class='text-hint') With Mashed Potatoes and Coleslaw


            p(class='text-header') Soft Drinks
                div(class='menu-item')
                    p Pepsi
                    p $4
                div(class='menu-item')
                    p Diet
                    p $4
                div(class='menu-item')
                    p Lemonade
                    p $4
                div(class='menu-item')
                    p Starry
                    p $4
                div(class='menu-item')
                    p Redbull
                    p $5
                div(class='menu-item')
                    p Crush Orange
                    p $4
                div(class='menu-item')
                    p Raspberry Iced Tea
                    p $4

            p(class='text-header') Desserts
                div(class='menu-item')
                    p Cheesecake
                    p $9
                div(class='menu-item')
                    p Tiramasu
                    p $9